.DS_Store
.dart_tool/

.packages
.pub/

build/

# IDE files
.idea/
*.iml

# Gradle
.gradle/
local.properties

# Flutter
.flutter-plugins-dependencies
.metadata
pubspec.lock

# VS Code
.history/

*.idea/libraries
*.example/
